* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000000;
}

ul > li {
  list-style: none;
}

/* shared style */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn {
  background-color: #469165;
  padding: 16px 12px;
  border-radius: 4px;
  display: inline-block;
  transition: all 0.3s ease;
}

.btn a {
  color: #fff;
  text-decoration: none;
}

.btn:hover {
  background-color: #3b7c56;
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* main style */
nav {
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo img {
  width: 139px;
  padding: 16px 0;
}

nav > ul {
  display: flex;
  justify-content: center;
}

nav > ul > li:not(:last-child) {
  margin-right: 32px;
}

nav > ul > li > a {
  font-size: 16px;
}

/* header content style */
.header_container {
  padding: 115.5px 0px 179.5px 0;
  background-color: #001931;
}
.header_wrapper {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}

.early_access {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #469165;
  background-color: #ffffff;
  padding: 8px 12px;
  border-radius: 25px;
}

.circle {
  width: 16px;
  height: 16px;
  background: #d9eadf; /* outer */
  border-radius: 50%;
  position: relative;
  flex-shrink: 0;
  opacity: 100%;
}

.circle::before {
  content: "";
  width: 12px;
  height: 12px;
  background: #469165; /* middle */
  border-radius: 50%;
  position: absolute;
  opacity: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle::after {
  content: "";
  width: 6px;
  height: 6px;
  background: #469165; /* center */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header_wrapper h2 {
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
  text-transform: capitalize;
  padding: 16px 0;
}

.header_wrapper h2 span:first-child {
  color: #ffffff;
}
.header_wrapper h2 span:last-child {
  color: #469165;
}
.header_wrapper p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  padding-bottom: 32px;
}

.header_btn {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.header_btn a {
  position: relative;
  padding: 14px 22px;
  border-radius: 4px;
  font-weight: 500;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  color: #fff;
}

.btn-primary {
  background: #4f9f78;
  color: #fff;
}

/* Right arrow after text */
.btn-primary::after {
  content: "→";
  font-size: 18px;
  transition: transform 0.3s ease;
}

.btn-primary:hover::after {
  transform: translateX(4px);
}

.btn-secondary {
  border: 1.5px solid #d1d5db;
  color: #1f2937;
  padding-left: 18px;
}

.btn-secondary::after {
  content: "";
  position: absolute;
  left: 10px;
  width: 0;
  height: 0;
  border-left: 7px solid #fff;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

/* about section */

.about_container {
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
}

.about_heading {
  text-align: center;
  margin-bottom: 44px;
  margin-top: 65px;
}

.about_heading h2 {
  font-size: 48px;
  color: #001931;
  margin-bottom: 30px;
}

.about_heading p {
  font-size: 16px;
  color: #627382;
}

.about_info {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.info_card {
  text-align: center;
  box-shadow: 0 -8px 20px 0 #00000010;
  border-radius: 8px;
  padding: 65px 24px;
  max-width: 300px;
}

.info_card_icon {
  background-color: #f95555;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 100%;
  padding-top: 14px;
  display: inline-block;
}

.info_card h2 {
  color: #001931;
  font-size: 24px;
  font-weight: 600;
  padding: 16px 0;
}
.info_card p {
  color: #627382;
  font-size: 16px;
  line-height: 20px;
}

/* solution style */
.solution_container {
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 60px;
  padding: 120px 0;
}

.solution_content_right {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.solution_content_right h3 {
  color: #469165;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 300;
}

.solution_content_right h2 {
  padding: 16px 0;
  font-size: 48px;
  font-weight: 700;
}

.solution_content_right p {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 40px;
}

.solution_content_right ul li {
  font-size: 16px;
  margin: 10px 0;
}

.solution_content_right li {
  position: relative;
  padding-left: 40px;
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 1.6;
  color: #1f2937;
}

/* Green circle */
.solution_content_right li::before {
  content: "";
  width: 22px;
  height: 22px;
  background: #2fb26e;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 4px;
}

.solution_content_right li::after {
  content: "✓";
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  left: 5px;
  top: 3px;
}

/* subscribe style */
#subscribe {
  margin-bottom: 120px;
}
.subscribe_container {
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  text-align: center;
  background-color: #f7f6f2;
  padding: 80px 300px;
  border-radius: 12px;
}

.subscribe_container h2 {
  color: #001931;
  font-size: 40px;
  font-weight: bold;
}

.subscribe_container p {
  padding: 24px 0;
}

/* footer section */
#footer {
  background-color: #001931;
  color: #ffffff;
}
.footer_container {
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fafafa;
}
.footer_container img {
  width: 139px;
  height: 60px;
}
.footer_social h3 {
  font-size: 20px;
  font-weight: 300;
}

.footer_social ul {
  display: flex;
  justify-content: space-between;
}
.footer_social ul li {
  width: 23px;
  height: 23px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 50px;
  margin-top: 10px;
}
.footer_social ul li a {
  font-weight: bold;
}
.copy_right {
  padding: 24px 0;
  text-align: center;
  color: #fafafa;
  font-size: 16px;
}
